.Main_Wrapper {
  width: 100%;
  padding: 5px 5px;
}

.Charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black; 
}

.Charts_wrapper {
  padding: 5px 5px;
  border-radius: 8px;
  border: 2px solid lightgrey;
}

.Chart_Label {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Chart_1 {
  height: 175px;
}
.Chart_2 {
  height: 175px;
}
.Chart_3 {
  height: 175px;
}

.Table_wrapper {
  padding: 20px 0px;
}