.Nutrients_table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border: solid 2px lightgrey;
  border-radius:13px;
  padding: 2px 2px;
  overflow: scroll;
}

.Table_wrappper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
}

.Nutrients_header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  font-weight: bold;
}

.Progress_Bar {
  margin-top: 10px;
  width: 50%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.Table_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.Feed_label {
  font-size: 22px;
  font-weight: bold;
  padding:0px 5px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.Unit_label {
  padding:0px 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  position: relative;
  top: 5px;
}

.Progressbar_div1 {
  background-color: #90EE90;
  width: 80%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

.Progressbar_div2 {
  background-color: #2196F3;
  width: 50%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
.Progressbar_div3 {
  background-color: tomato;
  width: 20%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
