.Nutrients_table {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Table_wrappper {
  display: flex;
  flex-direction: row;
}

.Nutrients_header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: min-content;
  border: solid 2px #888888;
  border-radius: 8px;
  padding: 1px 5px;
}

#progressbar {
  margin-top: 10px;
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.Progressbar_div1 {
  background-color: #90EE90;
  width: 80%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

.Progressbar_div2 {
  background-color: #2196F3;
  width: 50%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
.Progressbar_div3 {
  background-color: tomato;
  width: 20%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

.Nutrient_label {
  font-size: 22px;
  position: relative;
  left: 155px; bottom: 25px;
}
