.Footer-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Alerts_div {
  margin-left: 70px;
  width: 400px;
  flex-direction: column;
}

.Alerts_header {
  font-size: 22px;
  padding: 10px 10px;
}

