.Alerts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  color: #282e33;
}

.List_Div {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.Value_Div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  background: #282e33;
  color: #606468;
  margin: 10px 10px;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Lock_Button {
  width: 15%;
  height: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}