.Slider_Div {
  font-family: 'Ubuntu', sans-serif;
  color: #888888;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 5px 0px;
  margin: 0px 5px;
}

.Label_Div {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}