.Slide_Container {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.Slider_1 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  height: 15px;
  border-radius: 5px;
}

.Slider_2 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  height: 15px;
  border-radius: 5px;
}

.Slider_3 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  height: 15px;
  border-radius: 5px;
}

/* Mouse-over effects */
.Slider_1:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.Slider_2:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.Slider_3:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.Slider_1::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%; 
}

.Slider_2::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%; 
}

.Slider_3::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%; 
}

.Slider_1::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%;
}
.Slider_2::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%;
}
.Slider_3::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
  height: 25px;
  border-radius: 50%;
}

.Slider_value {
  width: 20px;
  font-size: 22px;
  position: relative;
  left: 410px; bottom: 36px;
}

.Alerts_header {
  font-size: 22px;
  padding: 10px 10px;
}

.Range_title {
  font-size: 22px;

}