.Menu {
  display: flex;
  flex-direction: column;
}

.Logo_Text {
  color: black;
  font-size: 37px;
  position: relative;
  left: 15px; 
}

.Search_Container {
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
  left: 10px; 
}

.Control_Panel {
  margin-bottom: 20px;
}

.Switch_Title {
  font-size: 27px;
}

