.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Logo_text {
  color: black;
  font-size: 37px;
  position: relative;
  left: 15px; 
}

.Search_Container {
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
  left: 10px; 
}

