.Item1 {
  color: 	#888888;
  border: 2px solid lightgrey;
  border-radius: 24px;
  padding: 10px 5px;
  font-size: 20px;
  width: 8%;
  margin-right: 10px;
}

.NavLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 2px 2px;
  width: 60%;
}

.LogoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LinkList {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.LinkDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}