
.Data_wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: solid 3px black;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 14px; 
  padding: 5px 5px;
}

.Data_text {
  font-size: 50px;
}

.Middleone {
   /* / */
}

.Lasttwo {
  /* position: relative;
  left: 50px; */
}

.Nav_Icon {
  height: 80%;
  width: 60px;
  /* background-color: #888888; */
  border-radius: 14px;
}