body {
  font-family: 'Ubuntu', sans-serif;
  color: 	#888888;
}

/* grid items */
.item1 { 
  grid-area: navbar;
 }

.item2 { grid-area: menu; }

.item3 { grid-area: main; }

.item4 { grid-area: second; }

.item5 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'menu navbar navbar navbar navbar navbar'
    'menu main main main main main'
    'menu second second second second second'
    'menu footer footer footer footer footer';
  grid-template-columns: 200px auto;
  grid-template-rows: 80px 400px 400px auto;
  grid-gap: 1px;
  background-color:	#A9A9A9;
  padding: 2px;
  height: 100%;
  width: 100%;
  
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
}
.logo-1 {
  height:125px;
  position: relative;
  left: 10px;
}

/* nav bar */

.header_text {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  font-size: 20px;
}

.header_item {
  font-size: 20px ;
  flex-direction: row;
  padding: 0px 27px;
  position: relative;
  right: 20px;
}

.data_wrapper {
  display: flex;
  justify-content: center;
}

.data_text {
  flex-direction: row;
  padding: 0px 40px;
  font-size: 40px;
}

.middleone {
  position: relative;
  left: 37px;
}

.lasttwo {
  position: relative;
  left: 50px;
}
/* menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo_text {
  color: black;
  font-size: 37px;
  position: relative;
  left: 15px; bottom: 10px;
}

.search-container {
  position: relative;
  left: 10px;
}

/* main */
.charts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#chart {
  padding: 10px 50px;
  color: black;
}

#chart2 {
  color: black;
}

#chart3 {
  color: black;
  position: relative;
  left: 90px; top: 0px; 
}

.chart_label {
  display: flex;
  flex-direction: row;
}

.label1 {
  padding: 0px 80px;
}
.label2 {
  padding: 0px 30px;
}

.label3 {
  position: relative;
  left: 100px;
}