body {
  font-family: 'Ubuntu', sans-serif;
  color: 	#888888;
}

/* grid items */
.item1 { 
  grid-area: navbar;
 }

.item2 { grid-area: menu; }

.item3 { grid-area: main; }

.item4 { grid-area: second; }

.item5 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'menu navbar navbar navbar navbar navbar'
    'menu main main main main main'
    'menu second second second second second'
    'menu footer footer footer footer footer';
  grid-template-columns: 200px auto;
  grid-template-rows: 80px 400px 400px auto;
  grid-gap: 1px;
  background-color:	#A9A9A9;
  padding: 2px;
  height: 100%;
  width: 100%;
  
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
}
.logo-1 {
  height:125px;
  position: relative;
  left: 10px;
}


/* nav bar */

.header_text {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  font-size: 20px;
}

.header_item {
  font-size: 20px ;
  flex-direction: row;
  padding: 0px 27px;
  position: relative;
  right: 20px;
}

.data_wrapper {
  display: flex;
  justify-content: center;
}

.data_text {
  flex-direction: row;
  padding: 0px 40px;
  font-size: 40px;
}

.middleone {
  position: relative;
  left: 37px;
}

.lasttwo {
  position: relative;
  left: 50px;
}
/* menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_text {
  color: black;
  font-size: 37px;
  position: relative;
  left: 15px; 
}

.search-container {
  position: relative;
  left: 10px;
}

/* main */

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding: 20px 50px;
}

.chart_label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* second */

.second_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.note_pad {
  padding: 20px 15px;
  
}

.input_area {
  height: 330px;
  width: 500px;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  color: 	#888888;
  border-radius: 8px;
  border-color: #888888;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(255, 255, 255);
}

.notes_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #87CEEB;
  border: none;
  color: 	#888888;
  text-align: center;
  font-size: 18px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  cursor: pointer;
  position: relative;
  left: 400px; 
  transition: 0.5s;
}

.notes_button:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.notes_button:hover {
  padding-right: 45px;
}

#chart4 {
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  width: 90%;
  margin: 1em auto;
  position: relative;
  top: 10px; right: 120px;
  font-size: 12px;
  color:#888888;
  background-color: rgb(255, 255, 255);
}
.c3-axis-y text {
  font-family: 'Ubuntu', sans-serif;
  fill: #888888;
  font-size:12px;
}
.c3-axis-x text {
  font-family: 'Ubuntu', sans-serif;
   font-size:12px;
   fill:#888888;
}
.domain {
  fill: #888888;
}
.c3-event-rect {
  color:#888888;
}
.c3-line {
  stroke-width: 3px;
  fill: none;
}

.c3-circle {
  fill: black !important;
}

.chart_label_nutrients {
  position: relative;
  top: 15px;
}

/* switches in menu */
.switch_div {
  padding: 10px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 5px 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4A460;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #90EE90;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_panel {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.small_icon {
  height: 70px;
  position: relative;
  top: 20px; left: 30px;
}

.nutrients_table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrients_lable {
  font-size: 22px;
}

hr {
  width: 90%;
  border: 1px solid black
}