.Alerts {
  display: grid;
  grid-template-areas:
    'main details';
  grid-template-columns: 90% 150px;
}

.Main_Div {
  background-color: #606468;
  grid-area: main; 
}

.Details {
  background: #8df78d;
  grid-area: details;
}