.AlertsDiv {
  display: flex;
}

.Alerts {
  display: grid;
  grid-template-areas:
    'main details';
  grid-template-columns: 75vw auto;
}

.Main_Div {
  background-color: whitesmoke;
  grid-area: main; 
}

.Details {
  background: white;
  grid-area: details;
}