
.Board_control {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}

.Add_button {
  background-color: lightgrey;
  border-radius: 50%;
  height: 25px;
  margin-left: 20px;
}

.Board_icon {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 5px;
}

.Trash_button {
  padding: 10px 25px;
  height: 50px;
}

.Drag_div {
  display: flex;
}

.Trash_div {
  float: right;
  padding: 5px 5px;
  position: relative;
  bottom: 230px;
  background-color: white;
}

.Trash_div:hover {
  background-color: tomato;
  border-radius: 9px;
  height: 100px;
}