/* grid items */

.Dashboard {
  display: flex;
  flex-direction: row;
}

.Item2 {
  grid-area: sensor;
}
.Item3 {
  grid-area: first;
  display: flex;
}
.Item4 {
  grid-area: second;
  display: flex;
}
